<div ng-controller="contactController">
    <div class="content">
        <form name="contactForm" ng-submit="sendMessage()" novalidate>
            <input type="text" name="name" placeholder="Name" ng-model="contact.name" ng-required="true">
            <div ng-show="contactForm.name.$invalid && contactForm.name.$touched">
                <small style="color:red ; text-align:center; display:block;">Enter a valid name</small>
            </div>
            <input type="email" name="email" placeholder="Email" ng-model="contact.email" ng-required="true">
            <div ng-show="contactForm.email.$invalid && contactForm.email.$touched">
                <small style="color:red ; text-align:center; display:block;">Enter a valid email</small>
            </div>
            <textarea name="message" placeholder="Your message" ng-model="contact.message" ng-required="true" style="padding-bottom: 80px;"></textarea>
            <div ng-show="contactForm.message.$invalid && contactForm.message.$touched"></div>
            <input type="submit" value="send" ng-disabled="contactForm.$invalid">
        </form>
    </div>
</div>